Package: kafkatool
Version: 1.4.3-1.1
Architecture: amd64
Maintainer: Daniel Struck <daniel.struck@govcert.etat.lu>
Installed-Size: 9956
Depends: libc6 (>= 2.3.2)
Suggests: bash-completion
Section: database
Priority: optional
Homepage: https://gitlab.int.govcert.etat.lu/sysadmin/kafkatool
Description: GOVCERT.LU Kafka management tool.
 GOVCERT.LU Kafka management tool.
