bin
pkg
build
debian/DEBIAN
debian/debhelper-build-stamp
debian/.debhelper
debian/files
debian/kafkatool.substvars
debian/kafkatool

src/github.com/
src/kafkatool/vendor/
src/kafkatool/kafkatool

.vscode
*.deb
Gopkg.lock
kafkatool_completion.sh

config.yaml
README_TEMP.md
